body {
	padding-top: 40px;
}

.home-background {
	background-image: url("../images/home_background_alt1.jpg");
	background-color: #eee;
    height: 900px; 
    width: 100%;
    z-index: -1;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0px;
    left: 0px;
}

.home-container {
	height: 100%;
}

.home-title {
	background: white;
	color: #334;
}
.home-title-inverted {
	background: #334;
	color: white;
	margin-top: 5px;
	margin-bottom: 0px;
}

iframe.resume {
	width: 100%;
	height: 100%;
}


.link-no-style {
	text-decoration: none;
	color: inherit;
}
.link-no-style:hover {
	text-decoration: none;
	color: inherit;
}

.resume-container {
	width: 100%;
	margin: auto;
}

.resume-table {
	width: 60%;
}

.resume-cell {
	height: 100%;
	width: 100%;
}
.resume-location-text {
	float: right;
}

.resume-sidebar {
	vertical-align: text-top;
	padding-top: 100px;
	justify-content: right;
}

.resume-btn {
	margin: 30px 10px;
	width: 90%;
}