---
layout: default
title: Young Life
permalink: /younglife/
---
<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-lg-10">
			<div class="jumbotron jumbotron-fluid" style="margin-bottom: 0px; padding-bottom: 0px;">
				<div class="container">
					<h1 class="display-3 text-center"><span class="home-title-inverted">I AM</span> a Young Life Leader</h1>
					<p class="lead text-center">William Monroe High School</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div id="photoCarouselWithIndicators" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			{% for item in site.data.data.yl-slides %}
			<li data-target="#photoCarouselWithIndicators" data-slide-to="{{ forloop.index - 1 }}" {% if forloop.index == 1 %}class="active"{% endif %}></li>
			{% endfor %}
		</ol>
		<div class="carousel-inner">
			{% for item in site.data.data.yl-slides %}
			<div class="carousel-item {% if forloop.index == 1 %}active{% endif %}">
				<img class="d-block w-100" src="{{ item.src }}" alt="Slide show picture">
				<div class="carousel-caption d-none d-md-block">
					<p>{{ item.caption }}</p>
				</div>
			</div>
			{% endfor %}
		</div>
		<a class="carousel-control-prev" href="#photoCarouselWithIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#photoCarouselWithIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>
<div class="container bg-light">
	<div class="row justify-content-center">
		<div class="col-lg-10">
			<div class="row">
				<h1>Young Life has changed my life.</h1>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<p class="lead">I have always been a part of Young Life.</p>
					<p>Growing up in a Christian home, it has always been the imperative of my parents to sustain my involvement in church-based activities. Before you get the wrong impression, I don't mean to say that they deprived me of fun, "normal kid" activites; in fact, quite the opposite is true. My parents raised myself and my two brothers in such a way that faith was as much a personal decision as it was appropriate for a child to decide on his own. They had always sought to discover the most exciting and engaging means by which we should pursue our faith, given our lack of attentiveness and need for constant entertainment.</p>
					<p>Therefore throughout my childhood, I was involved in many Christian organizations - VBS, summer camps, events hosted weekly by my church - I for the fun of it, my parents for the benefit of my faith. Of course I had an appreciation for the spiritual side of it all - my parents modeled this well for me and made sure to instill proper morality in me. However, it never interested me enough that I should learn more on my own or truly seek to discover who this God really is.</p>
					<p>As a result, my friends and I treated all of these events as opportunities to cause trouble together and see how much we could get away with. And I will say, we realized our limits many times over the years. I wish I could write of all the times we had been pulled aside and lectured at church events, or warned of the imminent phone call to our parents, or even the time that we were asked not to return to a Christian summer camp in 8th grade (we had gone solely with the intention of causing trouble) - but I fear I might never conclude this article. And so, as high school appeared on the horizon, I looked eagerly towards the pinnacle of fun in the realm of Christianity - Young Life.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<p>Young Life is an organization dedicated to "introducing adolescents to Jesus Christ and helping them grow in their faith," according to their <a href="https://www.younglife.org/About/Pages/MissionandValues.aspx" target="_blank">mission statement</a>. Volunteer leaders who are college aged or older and staff people are assigned to a high school to meet kids and become involved in their lives. They put on weekly meetings for students called Club and Campaigners. Club is a night of excitement - silly games, loud songs, hilarious skits, and a conclusion with a story from the Bible - while Campaigners is time set aside for more in depth studies of the Word.</p>
					<p>Young Life was held in high regard by my older brothers who had the distinct privilege of being in high school and, therefore, the sole qualification for attending. Though I had been in Wyld Life, the middle school equivalent, I knew that Young Life was leagues ahead in terms of craziness and enjoyment. And so for three years - through my Junior year - that was what it was: just another, though superior, fun Christian activity. I still rejoiced when people around me met the Lord, and still in my mind longed to uphold the biblical morals engrained in me. But in reality, as high school does to many, I began to devolve </p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<!--
					<div class="card" style="width: 100px">
						<div class="card-body">
							<p class="card-text">Myself, Aaron, Alicia, and Monica - the WMHS Team in 2017.</p>
						</div>
					</div>
				-->
				<img class="img-thumbnail" src="/images/younglife/yl_page_1.jpg" alt="Young Life picture">
				<p>Donec ultricies aliquam lobortis. Suspendisse potenti. Suspendisse ac aliquet risus. Aliquam erat volutpat. Ut id mauris sed ante tristique vestibulum eget id nunc. Vestibulum vitae viverra tellus. Donec porttitor, metus ut tempus fringilla, risus velit ullamcorper dui, nec dictum est justo et mauris. Pellentesque neque tellus, posuere sed odio eget, viverra scelerisque tortor. Vestibulum vitae dolor sit amet purus pulvinar convallis. Donec congue at est eu interdum. Aliquam sodales tincidunt orci ut tempor. Donec eget mauris varius, pellentesque sapien quis, scelerisque sem. Nunc euismod ullamcorper lacus. Pellentesque eros nunc, accumsan vel tempus a, cursus vel sapien. Maecenas placerat felis a auctor dignissim.</p>
				<p>Etiam ut arcu nisl. Vestibulum tristique orci eget lorem sodales, vitae interdum ipsum maximus. Integer metus augue, posuere ut nisl et, vehicula auctor sapien. Etiam imperdiet lectus vel est blandit finibus. Phasellus molestie, leo vel scelerisque dictum, velit libero sodales lorem, et imperdiet lectus eros nec justo. Nulla eu ipsum ligula. Ut purus orci, cursus pulvinar auctor tempor, accumsan in odio. Mauris quis sodales dolor.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<p>Nam sed gravida neque. Phasellus ut turpis at metus aliquam malesuada. Fusce sed erat tempus, mollis sapien sit amet, gravida augue. In eleifend et justo vel semper. Curabitur vitae tincidunt ante, quis lacinia ligula. Suspendisse mattis hendrerit arcu, et sagittis urna venenatis ac. Suspendisse non mauris sed ex ultrices malesuada eu at odio. Etiam libero lectus, eleifend eu consequat et, eleifend eget nibh. Duis lorem mauris, ullamcorper ac dolor at, tristique fermentum odio. Ut ac condimentum dui, sit amet pretium sem. Etiam tellus erat, venenatis a varius non, bibendum non nisi. Pellentesque a lectus in tortor laoreet tempor.</p>
				<p>From day one until now, it has been a part of the world I know. </p>
				<p>I have always loved it ...</p>
			</div>
		</div>
	</div>
</div>
<div class="row justify-content-between">
	{% for item in site.data.data.yl-pics %}
	<div class="col-lg-4">
		<div class="card">
			<img class="card-img-top" src="{{ item.src }}" alt="{{ item.alt }}">
			<div class="card-body">
				<p class="card-text">{{ item.caption }}</p>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
</div>