---
layout: default
title: Young Life
permalink: /younglife/
---
<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-lg-10">
			<div class="jumbotron jumbotron-fluid" style="margin-bottom: 0px; padding-bottom: 0px;">
				<div class="container">
					<h1 class="display-3 text-center"><span class="home-title-inverted">I AM</span> a Young Life Leader</h1>
					<p class="lead text-center">William Monroe High School</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div id="photoCarouselWithIndicators" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			{% for item in site.data.data.yl-slides %}
			<li data-target="#photoCarouselWithIndicators" data-slide-to="{{ forloop.index - 1 }}" {% if forloop.index == 1 %}class="active"{% endif %}></li>
			{% endfor %}
		</ol>
		<div class="carousel-inner">
			{% for item in site.data.data.yl-slides %}
			<div class="carousel-item {% if forloop.index == 1 %}active{% endif %}">
				<img class="d-block w-100" src="{{ item.src }}" alt="Slide show picture">
				<div class="carousel-caption d-none d-md-block">
					<p>{{ item.caption }}</p>
				</div>
			</div>
			{% endfor %}
		</div>
		<a class="carousel-control-prev" href="#photoCarouselWithIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#photoCarouselWithIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>
<div class="container bg-light">
	<div class="row justify-content-center">
		<div class="col-lg-10">
			<div class="row">
				<h1>Young Life has changed my life.</h1>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<p class="lead">I have always been a part of Young Life.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut magna justo. Duis euismod viverra ante. Fusce a felis ex. Nam feugiat eleifend finibus. Integer rhoncus nec mi at ultrices. Donec accumsan metus vel maximus posuere. Suspendisse semper magna ut nulla vestibulum lacinia. Curabitur faucibus interdum tincidunt.</p>
					<p>Phasellus pulvinar nunc diam, id lacinia justo aliquet in. Proin egestas bibendum congue. Pellentesque lacinia vestibulum efficitur. Morbi dictum sapien quis velit mattis, ut fermentum neque egestas. Nulla eget commodo lacus. Phasellus ut hendrerit nulla. Sed quis lectus purus. Etiam euismod euismod risus. Praesent id leo at eros ultricies lobortis sed nec massa.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<!--
					<div class="card" style="width: 100px">
						<div class="card-body">
							<p class="card-text">Myself, Aaron, Alicia, and Monica - the WMHS Team in 2017.</p>
						</div>
					</div>
				-->
						<img class="img-thumbnail" src="/images/younglife/yl_page_1.jpg" alt="Young Life picture">
				<p>Donec ultricies aliquam lobortis. Suspendisse potenti. Suspendisse ac aliquet risus. Aliquam erat volutpat. Ut id mauris sed ante tristique vestibulum eget id nunc. Vestibulum vitae viverra tellus. Donec porttitor, metus ut tempus fringilla, risus velit ullamcorper dui, nec dictum est justo et mauris. Pellentesque neque tellus, posuere sed odio eget, viverra scelerisque tortor. Vestibulum vitae dolor sit amet purus pulvinar convallis. Donec congue at est eu interdum. Aliquam sodales tincidunt orci ut tempor. Donec eget mauris varius, pellentesque sapien quis, scelerisque sem. Nunc euismod ullamcorper lacus. Pellentesque eros nunc, accumsan vel tempus a, cursus vel sapien. Maecenas placerat felis a auctor dignissim.</p>
				<p>Etiam ut arcu nisl. Vestibulum tristique orci eget lorem sodales, vitae interdum ipsum maximus. Integer metus augue, posuere ut nisl et, vehicula auctor sapien. Etiam imperdiet lectus vel est blandit finibus. Phasellus molestie, leo vel scelerisque dictum, velit libero sodales lorem, et imperdiet lectus eros nec justo. Nulla eu ipsum ligula. Ut purus orci, cursus pulvinar auctor tempor, accumsan in odio. Mauris quis sodales dolor.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<p>Nam sed gravida neque. Phasellus ut turpis at metus aliquam malesuada. Fusce sed erat tempus, mollis sapien sit amet, gravida augue. In eleifend et justo vel semper. Curabitur vitae tincidunt ante, quis lacinia ligula. Suspendisse mattis hendrerit arcu, et sagittis urna venenatis ac. Suspendisse non mauris sed ex ultrices malesuada eu at odio. Etiam libero lectus, eleifend eu consequat et, eleifend eget nibh. Duis lorem mauris, ullamcorper ac dolor at, tristique fermentum odio. Ut ac condimentum dui, sit amet pretium sem. Etiam tellus erat, venenatis a varius non, bibendum non nisi. Pellentesque a lectus in tortor laoreet tempor.</p>
					<p>From day one until now, it has been a part of the world I know. </p>
					<p>I have always loved it ...</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row justify-content-between">
		{% for item in site.data.data.yl-pics %}
		<div class="col-lg-4">
			<div class="card">
				<img class="card-img-top" src="{{ item.src }}" alt="{{ item.alt }}">
				<div class="card-body">
					<p class="card-text">{{ item.caption }}</p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>