---
layout: default
title: Young Life
permalink: /younglife/
---
<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-lg-10">
			<div class="jumbotron jumbotron-fluid" style="margin-bottom: 0px; padding-bottom: 0px;">
				<div class="container">
					<h1 class="display-3 text-center"><span class="home-title-inverted">I AM</span> a Young Life Leader</h1>
					<p class="lead text-center">William Monroe High School</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div id="photoCarouselWithIndicators" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			{% for item in site.data.data.yl-slides %}
			<li data-target="#photoCarouselWithIndicators" data-slide-to="{{ forloop.index - 1 }}" {% if forloop.index == 1 %}class="active"{% endif %}></li>
			{% endfor %}
		</ol>
		<div class="carousel-inner">
			{% for item in site.data.data.yl-slides %}
			<div class="carousel-item {% if forloop.index == 1 %}active{% endif %}">
				<img class="d-block w-100" src="{{ item.src }}" alt="Slide show picture">
				<div class="carousel-caption d-none d-md-block">
					<p>{{ item.caption }}</p>
				</div>
			</div>
			{% endfor %}
		</div>
		<a class="carousel-control-prev" href="#photoCarouselWithIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#photoCarouselWithIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>
<div class="container bg-light">
	<div class="row justify-content-center">
		<div class="col-lg-10">
			<div class="row">
				<h1>!!! Under construction !!!</h1>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<p class="lead">!!! This page content is not complete! The following is placeholder text until I finish writing :) !!!</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In volutpat lacus id iaculis imperdiet. Sed nibh risus, varius rhoncus vulputate in, pharetra vitae tortor. Nam euismod urna elit, at tempor lorem vestibulum quis. Curabitur venenatis blandit velit ut pharetra. Quisque consectetur ex lectus, eget volutpat lectus eleifend sit amet. Proin cursus bibendum vehicula. Quisque vulputate libero justo, ac auctor eros tempus sed. Phasellus sit amet erat congue, finibus magna ut, vulputate ipsum. Etiam sed ipsum eget nunc rhoncus sollicitudin. Sed pharetra arcu sit amet velit sagittis viverra ac eu ex. Maecenas tempor magna ipsum, ut consequat nisl convallis sed. Proin quis convallis metus. Sed velit nulla, ullamcorper id mattis vel, facilisis ut eros. Suspendisse ut porta ligula, nec fermentum mi. Duis eu eleifend magna, at ultrices lorem. Nullam nec massa luctus, euismod eros quis, condimentum quam.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<p>Fusce sit amet urna non nunc finibus hendrerit in nec ipsum. Vivamus mollis sit amet diam vitae ullamcorper. Sed eleifend, nulla nec lobortis cursus, libero felis suscipit est, eu vestibulum leo nisi in nisi. Aenean volutpat orci magna. Cras mattis maximus magna, id egestas odio ultrices id. Mauris tempor orci in tortor auctor, vel consectetur urna finibus. Curabitur rhoncus vel mauris pharetra congue. Sed posuere massa id nisl consectetur, ac porta nisl feugiat. Nam tortor magna, hendrerit porta semper nec, fringilla ornare velit. Nulla ut cursus ipsum, a porttitor magna. Duis a egestas magna, a placerat ligula. Nulla venenatis ut tortor vitae tincidunt. Etiam id efficitur turpis, et fringilla nunc. Nunc lobortis porta diam non fermentum. Suspendisse enim orci, sagittis non lobortis eget, laoreet in sapien. Donec justo quam, luctus nec efficitur in, elementum in orci.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<!--
					<div class="card" style="width: 100px">
						<div class="card-body">
							<p class="card-text">Myself, Aaron, Alicia, and Monica - the WMHS Team in 2017.</p>
						</div>
					</div>
				-->
				<img class="img-thumbnail" src="/images/younglife/yl_page_1.jpg" alt="Young Life picture">
				<p>Donec ultricies aliquam lobortis. Suspendisse potenti. Suspendisse ac aliquet risus. Aliquam erat volutpat. Ut id mauris sed ante tristique vestibulum eget id nunc. Vestibulum vitae viverra tellus. Donec porttitor, metus ut tempus fringilla, risus velit ullamcorper dui, nec dictum est justo et mauris. Pellentesque neque tellus, posuere sed odio eget, viverra scelerisque tortor. Vestibulum vitae dolor sit amet purus pulvinar convallis. Donec congue at est eu interdum. Aliquam sodales tincidunt orci ut tempor. Donec eget mauris varius, pellentesque sapien quis, scelerisque sem. Nunc euismod ullamcorper lacus. Pellentesque eros nunc, accumsan vel tempus a, cursus vel sapien. Maecenas placerat felis a auctor dignissim.</p>
				<p>Etiam ut arcu nisl. Vestibulum tristique orci eget lorem sodales, vitae interdum ipsum maximus. Integer metus augue, posuere ut nisl et, vehicula auctor sapien. Etiam imperdiet lectus vel est blandit finibus. Phasellus molestie, leo vel scelerisque dictum, velit libero sodales lorem, et imperdiet lectus eros nec justo. Nulla eu ipsum ligula. Ut purus orci, cursus pulvinar auctor tempor, accumsan in odio. Mauris quis sodales dolor.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<p>Nam sed gravida neque. Phasellus ut turpis at metus aliquam malesuada. Fusce sed erat tempus, mollis sapien sit amet, gravida augue. In eleifend et justo vel semper. Curabitur vitae tincidunt ante, quis lacinia ligula. Suspendisse mattis hendrerit arcu, et sagittis urna venenatis ac. Suspendisse non mauris sed ex ultrices malesuada eu at odio. Etiam libero lectus, eleifend eu consequat et, eleifend eget nibh. Duis lorem mauris, ullamcorper ac dolor at, tristique fermentum odio. Ut ac condimentum dui, sit amet pretium sem. Etiam tellus erat, venenatis a varius non, bibendum non nisi. Pellentesque a lectus in tortor laoreet tempor.</p>
				<p>From day one until now, it has been a part of the world I know. </p>
				<p>I have always loved it ...</p>
			</div>
		</div>
	</div>
</div>
<div class="row justify-content-between">
	{% for item in site.data.data.yl-pics %}
	<div class="col-lg-4">
		<div class="card h-100">
			<img class="card-img-top" src="{{ item.src }}" alt="{{ item.alt }}">
			<div class="card-body">
				<p class="card-text">{{ item.caption }}</p>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
</div>